{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-sm-10">
		<ol class="breadcrumb">
			<li><a href="{% url 'newyears:index' %}">NY</a></li>
			<li><a href="{% url 'newyears:newyear_detail' newyear_id  %}">{{ l.newyear }}</a></li>
			<li class="active">Lists</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-sm-10">
		<h1>{{l.name}}</h1>
		{% for comment in l.listcomment_set.all %}
			<div class="row spacer-md-top">
				<div class="col-sm-12 de-emph"><em>{{ comment.created }} {{comment.user.first_name}}:</em></div>
				<div class="col-sm-12"><pre>{{ comment.text|linebreaks|urlize }}</pre></div>
			</div>	
		{% endfor %}
	</div>
</div>

<div class="row spacer-md-top">
	<div class="col-sm-10">
		<form class="form" action="{% url 'newyears:list_detail' newyear_id l.id %}" method="post">
			{% csrf_token %}
			<div class="form-group">{{ form.text }}</div>
			<div><input type="submit" class="btn btn-defaulti btn-sm" value="Add Comment"></div>
	</div>
</div>


{% endblock %}
