{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">
	<div class="col-sm-4">
		{{ user.first_name }}
		<hr>

		<h2>Goals</h2>

        {% if goals %}

            {% for year, goals_this_year in goals.items %}
                <h3>{{ year }}</h3>
                {% for item in goals_this_year %}
                <div class='goal-list'>
                    <a href="{% url 'goals:detail' item.id %}">{{ item }}</a>
                </div>
                {% endfor %}
            {% endfor %}

        {% else %}
            {% if request.user == user %}
                You have not saved any goals yet. 
            {% else %}
                {{ user.first_name }} has not yet shared any goals with you.
            {% endif %}

        {% endif %}

	</div>
    {% if request.user == user %}
	<div class="col-sm-4">
		<a href="{% url 'goals:create' %}" class="btn btn-default btn-large">Add Goals</a>
	</div>
    {% endif %}
</div>

{% endblock %}


