body {
	  padding-top: 50px;
  }

.body-template {
	padding: 40px 15px;
}

.landing {
	text-align: center;
}

.spacer-md-bottom {
	margin-bottom: 30px; 	
}
.spacer-md-top {
	margin-top: 30px; 	
}

.de-emph {
	color: #AAA;
}
